# Import necessary libraries

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Extract Process

In [2]:
url = 'https://books.toscrape.com/catalogue/page-1.html'

In [3]:
response = requests.get(url)
soup_obj = BeautifulSoup(response.text, 'html.parser')

In [4]:
titles = []
prices = []
ratings = []
availability = []
images = []

In [5]:
for k in soup_obj.find_all('h3'):
    for i in k:
        titles.append(i.get('title'))

In [6]:
titles

['A Light in the Attic',
 'Tipping the Velvet',
 'Soumission',
 'Sharp Objects',
 'Sapiens: A Brief History of Humankind',
 'The Requiem Red',
 'The Dirty Little Secrets of Getting Your Dream Job',
 'The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull',
 'The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics',
 'The Black Maria',
 'Starving Hearts (Triangular Trade Trilogy, #1)',
 "Shakespeare's Sonnets",
 'Set Me Free',
 "Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)",
 'Rip it Up and Start Again',
 'Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991',
 'Olio',
 'Mesaerion: The Best Science Fiction Stories 1800-1849',
 'Libertarianism for Beginners',
 "It's Only the Himalayas"]

In [7]:
for price in soup_obj.find_all('p', 'price_color'):
    prices.append(price.text)

In [8]:
prices

['Â£51.77',
 'Â£53.74',
 'Â£50.10',
 'Â£47.82',
 'Â£54.23',
 'Â£22.65',
 'Â£33.34',
 'Â£17.93',
 'Â£22.60',
 'Â£52.15',
 'Â£13.99',
 'Â£20.66',
 'Â£17.46',
 'Â£52.29',
 'Â£35.02',
 'Â£57.25',
 'Â£23.88',
 'Â£37.59',
 'Â£51.33',
 'Â£45.17']

In [9]:
len(prices)

20

In [10]:
for i in soup_obj.find_all('p', 'star-rating'):
    ratings.append(i.get('class')[1])

In [11]:
ratings

['Three',
 'One',
 'One',
 'Four',
 'Five',
 'One',
 'Four',
 'Three',
 'Four',
 'One',
 'Two',
 'Four',
 'Five',
 'Five',
 'Five',
 'Three',
 'One',
 'One',
 'Two',
 'Two']

In [12]:
for i in soup_obj.find_all('p', 'availability'):
    availability.append(i.text.strip())

In [13]:
availability

['In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock']

In [14]:
for i in soup_obj.find_all('img'):
    images.append(i.get('src'))

In [15]:
images

['../media/cache/2c/da/2cdad67c44b002e7ead0cc35693c0e8b.jpg',
 '../media/cache/26/0c/260c6ae16bce31c8f8c95daddd9f4a1c.jpg',
 '../media/cache/3e/ef/3eef99c9d9adef34639f510662022830.jpg',
 '../media/cache/32/51/3251cf3a3412f53f339e42cac2134093.jpg',
 '../media/cache/be/a5/bea5697f2534a2f86a3ef27b5a8c12a6.jpg',
 '../media/cache/68/33/68339b4c9bc034267e1da611ab3b34f8.jpg',
 '../media/cache/92/27/92274a95b7c251fea59a2b8a78275ab4.jpg',
 '../media/cache/3d/54/3d54940e57e662c4dd1f3ff00c78cc64.jpg',
 '../media/cache/66/88/66883b91f6804b2323c8369331cb7dd1.jpg',
 '../media/cache/58/46/5846057e28022268153beff6d352b06c.jpg',
 '../media/cache/be/f4/bef44da28c98f905a3ebec0b87be8530.jpg',
 '../media/cache/10/48/1048f63d3b5061cd2f424d20b3f9b666.jpg',
 '../media/cache/5b/88/5b88c52633f53cacf162c15f4f823153.jpg',
 '../media/cache/94/b1/94b1b8b244bce9677c2f29ccc890d4d2.jpg',
 '../media/cache/81/c4/81c4a973364e17d01f217e1188253d5e.jpg',
 '../media/cache/54/60/54607fe8945897cdcced0044103b10b6.jpg',
 '../media/cache/55/33/553310a7162dfbc2c6d19a84da0df9e1.jpg',
 '../media/cache/09/a3/09a3aef48557576e1a85ba7efea8ecb7.jpg',
 '../media/cache/0b/bc/0bbcd0a6f4bcd81ccb1049a52736406e.jpg',
 '../media/cache/27/a5/27a53d0bb95bdd88288eaf66c9230d7e.jpg']

In [16]:
images = [i.replace('..', 'https://books.toscrape.com') for i in images]

In [17]:
images

['https://books.toscrape.com/media/cache/2c/da/2cdad67c44b002e7ead0cc35693c0e8b.jpg',
 'https://books.toscrape.com/media/cache/26/0c/260c6ae16bce31c8f8c95daddd9f4a1c.jpg',
 'https://books.toscrape.com/media/cache/3e/ef/3eef99c9d9adef34639f510662022830.jpg',
 'https://books.toscrape.com/media/cache/32/51/3251cf3a3412f53f339e42cac2134093.jpg',
 'https://books.toscrape.com/media/cache/be/a5/bea5697f2534a2f86a3ef27b5a8c12a6.jpg',
 'https://books.toscrape.com/media/cache/68/33/68339b4c9bc034267e1da611ab3b34f8.jpg',
 'https://books.toscrape.com/media/cache/92/27/92274a95b7c251fea59a2b8a78275ab4.jpg',
 'https://books.toscrape.com/media/cache/3d/54/3d54940e57e662c4dd1f3ff00c78cc64.jpg',
 'https://books.toscrape.com/media/cache/66/88/66883b91f6804b2323c8369331cb7dd1.jpg',
 'https://books.toscrape.com/media/cache/58/46/5846057e28022268153beff6d352b06c.jpg',
 'https://books.toscrape.com/media/cache/be/f4/bef44da28c98f905a3ebec0b87be8530.jpg',
 'https://books.toscrape.com/media/cache/10/48/1048f63d3b5061cd2f424d20b3f9b666.jpg',
 'https://books.toscrape.com/media/cache/5b/88/5b88c52633f53cacf162c15f4f823153.jpg',
 'https://books.toscrape.com/media/cache/94/b1/94b1b8b244bce9677c2f29ccc890d4d2.jpg',
 'https://books.toscrape.com/media/cache/81/c4/81c4a973364e17d01f217e1188253d5e.jpg',
 'https://books.toscrape.com/media/cache/54/60/54607fe8945897cdcced0044103b10b6.jpg',
 'https://books.toscrape.com/media/cache/55/33/553310a7162dfbc2c6d19a84da0df9e1.jpg',
 'https://books.toscrape.com/media/cache/09/a3/09a3aef48557576e1a85ba7efea8ecb7.jpg',
 'https://books.toscrape.com/media/cache/0b/bc/0bbcd0a6f4bcd81ccb1049a52736406e.jpg',
 'https://books.toscrape.com/media/cache/27/a5/27a53d0bb95bdd88288eaf66c9230d7e.jpg']

In [18]:
headers = ['title', 'price', 'rating', 'availability', 'image']

In [19]:
df = pd.DataFrame(columns=headers)
df

Empty DataFrame
Columns: [title, price, rating, availability, image]
Index: []

In [20]:
df['title'] = titles
df['price'] = prices
df['rating'] = ratings
df['availability'] = availability
df['image'] = images

df.head()

,title,price,rating,availability,image
0,A Light in the Attic,Â£51.77,Three,In stock,https://books.toscrape.com/media/cache/2c/da/2...
1,Tipping the Velvet,Â£53.74,One,In stock,https://books.toscrape.com/media/cache/26/0c/2...
2,Soumission,Â£50.10,One,In stock,https://books.toscrape.com/media/cache/3e/ef/3...
3,Sharp Objects,Â£47.82,Four,In stock,https://books.toscrape.com/media/cache/32/51/3...
4,Sapiens: A Brief History of Humankind,Â£54.23,Five,In stock,https://books.toscrape.com/media/cache/be/a5/b...

In [21]:
df

,title,price,rating,availability,image
0,A Light in the Attic,Â£51.77,Three,In stock,https://books.toscrape.com/media/cache/2c/da/2...
1,Tipping the Velvet,Â£53.74,One,In stock,https://books.toscrape.com/media/cache/26/0c/2...
2,Soumission,Â£50.10,One,In stock,https://books.toscrape.com/media/cache/3e/ef/3...
3,Sharp Objects,Â£47.82,Four,In stock,https://books.toscrape.com/media/cache/32/51/3...
4,Sapiens: A Brief History of Humankind,Â£54.23,Five,In stock,https://books.toscrape.com/media/cache/be/a5/b...
5,The Requiem Red,Â£22.65,One,In stock,https://books.toscrape.com/media/cache/68/33/6...
6,The Dirty Little Secrets of Getting Your Dream...,Â£33.34,Four,In stock,https://books.toscrape.com/media/cache/92/27/9...
7,The Coming Woman: A Novel Based on the Life of...,Â£17.93,Three,In stock,https://books.toscrape.com/media/cache/3d/54/3...
8,The Boys in the Boat: Nine Americans and Their...,Â£22.60,Four,In stock,https://books.toscrape.com/media/cache/66/88/6...
9,The Black Maria,Â£52.15,One,In stock,https://books.toscrape.com/media/cache/58/46/5...
10,"Starving Hearts (Triangular Trade Trilogy, #1)",Â£13.99,Two,In stock,https://books.toscrape.com/media/cache/be/f4/b...
11,Shakespeare's Sonnets,Â£20.66,Four,In stock,https://books.toscrape.com/media/cache/10/48/1...
12,Set Me Free,Â£17.46,Five,In stock,https://books.toscrape.com/media/cache/5b/88/5...
13,Scott Pilgrim's Precious Little Life (Scott Pi...,Â£52.29,Five,In stock,https://books.toscrape.com/media/cache/94/b1/9...
14,Rip it Up and Start Again,Â£35.02,Five,In stock,https://books.toscrape.com/media/cache/81/c4/8...
15,Our Band Could Be Your Life: Scenes from the A...,Â£57.25,Three,In stock,https://books.toscrape.com/media/cache/54/60/5...
16,Olio,Â£23.88,One,In stock,https://books.toscrape.com/media/cache/55/33/5...
17,Mesaerion: The Best Science Fiction Stories 18...,Â£37.59,One,In stock,https://books.toscrape.com/media/cache/09/a3/0...
18,Libertarianism for Beginners,Â£51.33,Two,In stock,https://books.toscrape.com/media/cache/0b/bc/0...
19,It's Only the Himalayas,Â£45.17,Two,In stock,https://books.toscrape.com/media/cache/27/a5/2...

# Scrape entire site (All 50 pages)

In [22]:
def extract_data(soup_obj):
    for k in soup_obj.find_all('h3'):
        for i in k:
            titles.append(i.get('title'))
            
    for price in soup_obj.find_all('p', 'price_color'):
        prices.append(price.text)
        
    for i in soup_obj.find_all('p', 'star-rating'):
        ratings.append(i.get('class')[1])
    
    for i in soup_obj.find_all('p', 'availability'):
        availability.append(i.text.strip())
    
    for i in soup_obj.find_all('img'):
        images.append(i.get('src').replace('..', 'https://books.toscrape.com'))

In [23]:
titles = []
prices = []
ratings = []
availability = []
images = []

In [24]:
urls = []
num_of_pages = 50

for i in range(1, num_of_pages+1):
    urls.append(f'https://books.toscrape.com/catalogue/page-{i}.html')

In [25]:
for i in urls:
    response = requests.get(i)
    soup = BeautifulSoup(response.text, 'html.parser')
    
    extract_data(soup)

In [26]:
df = pd.DataFrame(columns=headers)
df

Empty DataFrame
Columns: [title, price, rating, availability, image]
Index: []

In [27]:
df['title'] = titles
df['price'] = prices
df['rating'] = ratings
df['availability'] = availability
df['image'] = images

df.head()

,title,price,rating,availability,image
0,A Light in the Attic,Â£51.77,Three,In stock,https://books.toscrape.com/media/cache/2c/da/2...
1,Tipping the Velvet,Â£53.74,One,In stock,https://books.toscrape.com/media/cache/26/0c/2...
2,Soumission,Â£50.10,One,In stock,https://books.toscrape.com/media/cache/3e/ef/3...
3,Sharp Objects,Â£47.82,Four,In stock,https://books.toscrape.com/media/cache/32/51/3...
4,Sapiens: A Brief History of Humankind,Â£54.23,Five,In stock,https://books.toscrape.com/media/cache/be/a5/b...

In [28]:
df.shape

(1000, 5)

In [29]:
df.to_csv('books.csv', index=False)